.nav{

	height:50px;
	background:blue;
}
.nav div{

	display:inline-block;
	position:absolute;
	left:0;
	padding:15px;
	font-size:25px;
	color:white;
}
.nav ul{
	position:absolute;
	right:5px;
}
.nav ul li{
	display:inline-block;
}
.nav ul li a{
	color:white;
	padding:5px;
}
.home {

	background:url("https://i.ibb.co/0XnJJWN/gettyimages-1458679872-612x612.jpg");
	background-size:cover;
	height:100vh;
}
.home .text-container {
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	height:90vh;
}
.about .about-content {
	margin:150px auto 0 auto;
	width:500px;
}
.about .home1{

	background:url("https://i.ibb.co/SVs3pGT/gettyimages-1475485206-612x612.jpg");
	bacground-size:cover;
	height:100vh;
}@import
url('https://fonts.google.com/css?family=Roboto');

.about .about-content h1 {
	text-align:center
	font-family:'Roboto',sans-serif;
	color:red;
}
.about .about-content p {
	text-align:justify;
	font-family:'Lato',sans-serif;
	color:#fff;

}
.service.service-content {
	margin:80px auto 0 auto;
	text-align:center;


}
.service-content .card-container ul {
	padding:0;
}
.service-content .card-container ul li {
	list-style:none;
	display:inline-block;
	margin:20px;
	width:300px;
	length:100px;
}
.service-content .card-container ul li p {
	text-align:justify;
	font-family:'Lato',Sans-serif;
	color:green;
}
.service .service-content h1 {
	font-family:'Roboto',Sans-serif;
}

